@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* background image attribution:
https://pixabay.com/en/matrix-code-computer-pc-data-356024/ */


/* ----------------------------------- */
/* -------- General Properties ------- */
/* ----------------------------------- */

body {
  background-image: url("../images/matrixback.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: lime;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  align: center;
  background-color: black;
  border: 0.5px solid lime;
  border-radius: 10px;
  font-size: 44px;
  font-weight: bold;
  height: 35px;
  padding: 1% 2% 1.3% 2.5%;
  margin: 20px auto;
  text-shadow: 5px 5px 5px black;
  width: 480px;
}

/* ------------------------------------- */
/* -------- Container & Squares -------- */
/* ------------------------------------- */

/* .container {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 750px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4px 20px 4px 22px;
  width: 750px;
} */

.grid {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 750px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4px 20px 4px 22px;
  width: 750px;
}

.card {
  align-self: center;
  border: 1px solid lime;
  height: 165px;
  position: relative;
  /* transform-style: preserve-3d; */
  /* transition: transform 1.5s; */
  width: 165px;
}


/* #card.flipped {
  /* backface-visibility: hidden; */
  /* transform: rotateY(-180deg);
} */


/* #card.reverseFlip {
  backface-visibility: hidden;
  transform: rotateY(180deg);
} */
/* #card.flipToFront {
  backface-visibility: visible;
  transform: rotateY(180deg);
} */


.card > .front {
  backface-visibility: hidden;
/* step 1: attempt to make image display with class 'front', attempted multiple image references - DOES NOT WORK for code attempt generating grid with for loop */
  background-image: url('images/apple.jpg');
  height: 165px;
  position: absolute;
  transform: perspective(600px;) rotateY(0deg);
  transition: transform .5s linear 0s;
  width: 165px;
}

.card > .back {
  backface-visibility: hidden;
  background-image: url('images/000.jpg'), url('images/001.jpg'), url('images/010.jpg'), url('images/011.jpg'), url('images/100.jpg'), url('images/101.jpg'), url('images/110.jpg'), url('images/111.jpg');
  height: 165px;
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  transition: transform .5s linear 0s;
  width: 165px;
}

.card.rotated > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card.rotated > .back {
  transform: perspective(600px) rotateY(0deg);
}

.match {
  border: 2px solid blue;
  animation: 1s matchAnimation ease-in-out;
  animation-delay: .1s;
}

#scoreboardOne {
  align-content: center;
  background-color: lime;
  border: 6px inset lime;
  color: black;
  float: left;
  font-size: 32px;
  font-weight: bold;
  height: 80px;
  margin-left: 100px;
  margin-top: 160px;
  padding-top: 50px;
  padding-left: 55px;
  width: 200px;
}

#scoreboardTwo {
  /* align-content: center; */
  background-color: lime;
  border: 6px inset lime;
  color: black;
  float: right;
  font-size: 32px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  margin-right: 85px;
  margin-top: 165px;
  padding-top: 50px;
  padding-left: 55px;
  /* text-align: center; */
  /* padding-left:  */
  width: 200px;
}

.html {
  padding: 12px;
}

#modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.loss {
  background-image: url('../images/systemfailure.jpeg');
  border: 3px solid lime;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  height: 600px;
  justify-content: center;
  margin: 50px auto;
  object-fit: fill;
  padding: 2%;
  width: 1110px;
}

/* .switchPlayer {

} */

.red-pill, .blue-pill {
  border-radius: 60px;
  color: white;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 40px;
  height: 120px;
  margin-top: 320px;
  margin-left: 200px;
  position: relative;
  text-shadow: 4px 4px black;
  width: 240px;
}

/* remove Chrome default blue box border around buttons
courtesy StackOverflow */
button:focus {outline:0};

.red-pill:active, .blue-pill:active {
  border: none;
  box-shadow: 0 5px white;
  outline: none;
  transform: translateY(6px);
}

.red-pill:hover {
  background-color: limegreen;
}

.red-pill {
  background-color: red;
  margin-left: 180px;
}

.blue-pill:hover {
  background-color: limegreen;
}

.blue-pill {
  background-color: blue;
  margin-left: 280px;
}



.win {
  background-image: url('../images/matrix-ordered.jpeg');
  border: 1px solid lime;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  height: 522px;
  justify-content: center;
  margin: 50px auto;
  padding: 2%;
  width: 700px;
}

/*-------------------------------------*/
/*-------- Card-Button Classes --------*/
/*-------------------------------------*/

/* #back, img-A, img-B {
  background-image: url('images/000.jpg')
}

#back img-C, img-D {
  background-image: url('images/001.jpg')
} */
/* .img-A {
  background-image: url('images/000.jpg')
} */

/* .button-B {
  width: 20vw;
  height: 20vw;
  border: 2px lime solid;
}

/*-------------------------------------*/
/*------------- Animations ------------*/
/*-------------------------------------*/

/* .transform {
  transform: rotateY(180deg);
} */

/* DOES NOT WORK!!!
@keyframes matchAnimation {
  0%  {
    background: black;
  }
  100% {
    background-image: url('images/000.jpg'), url('images/001.jpg'), url('images/010.jpg'), url('images/011.jpg'), url('images/100.jpg'), url('images/101.jpg'), url('images/110.jpg'), url('images/111.jpg');
  }
} */
/* .overlay {
  background-color: black;
} */

/* .background {
  background-color: black;
}

.flipped {
  border: 3px solid lime;
} */

/* .darken {
  background-image:
  linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url(images/000.jpg);
} */

/* .animation {
  animation-name: fade-to-black;
  animation-duration: .5s;
}

@keyframes fade-to-black {
  100% {background: '.card.back'}
  0% {background: black};
} */
